out.*

db/

.qsys_edit/

incremental_db/

output_files/

simulation/

*.bak

c5_pin_model_dump.txt

*.sopcinfo

/sbt4e-19.1-workspace/

obj/
.cproject
.project
.force_relink
.settings/
*.map
*.objdump
*.elf
*.a
*.elf.srec
*_bsp/summary.html


